Plugins>Animal Tracker, "Tracker", hu.elte.animaltracker.controller.tracking.TrackerController(" ")
Plugins>Animal Tracker, "Zone Designer", hu.elte.animaltracker.controller.zones.ZoneDesignerPlugin(" ")
Plugins>Animal Tracker, "Tracking Analyzer", hu.elte.animaltracker.controller.analyzing.TrackAnalyzerController(" ")
Plugins>Animal Tracker>examples, "Water Maze", hu.elte.animaltracker.examples.watermaze.WaterMazeController(" ")
Plugins>Animal Tracker>examples, "Radial Maze", hu.elte.animaltracker.examples.radialmaze.RadialMazeController(" ")